
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'M PLUS 1 Code', sans-serif;
}

body {
    padding: 20px;
}

.active {
    cursor: pointer;
}

.active:hover {
    opacity: .5;
}

header {
    width: 100%;
    background-color: lightgrey;
    display: flex;
    position: relative;
}

header h1 {
    font-family: 'Dancing Script', cursive;
    margin: auto 0;
}

#reload {
    position: absolute;
    right: 20px;
    top: 15px;
}

main {
    display: flex;
}

#weather {
    position: relative;
    background-color: rgb(25, 124, 211);
    color: white;
    height: 90vh;
    padding: 10px;
    overflow-y: scroll;
}

#forecast {
    margin-top: 20px;
}

#weather-refresh {
    position: absolute;
    right: 10px;
    top: 20px;
}

.icon {
    background-color: white;
    border-radius: 50%;
    align-items: center;
}

#hourly-box {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#hourly-box div {
    padding-top: 10px;
    justify-content: space-between;
}

#chartContainer {
    margin-bottom: 20px;
}

.panel {
    margin: 20px;
    box-shadow: 2px 2px 10px rgb(25, 124, 211);
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
}

#middle {
    width: 40%;
    height: 90vh;
}

#map-container {
    width: 90%;
    position: relative;
}

#map-container img {
    width: 100%;
}

#right {
    height: 90vh;
    width: 40%;
}

#date-filter {
    visibility: hidden;
}

#event-box {
    height: 40%;
    overflow-y: scroll;
}

.event:hover {
    background-color: darkgray!important;
    color: white!important;
}

#events div:nth-child(2n + 1) {
    background-color: rgb(229, 226, 226);
    opacity: .7;
}

#cuisine {
    visibility: hidden;
}

#buttons {
    position: absolute;
    top: 70%;
    right: 10%;
    z-index: 10;
    background-color: lightgrey;
    padding: 5px 5px 10px 5px;
    border-radius: 10px;
}

#buttons p {
    cursor: pointer;
    align-items: center;
}

#traffic {
    width: 30%;
    border: none;
}

#directions-container {
    height: 40vh;
    overflow-y: scroll;
}

#minus {
    margin-bottom: 10%;
}

#change-form {
    visibility: hidden;
}

.restaurant {
    opacity: .5;
}

.restaurant:hover {
    opacity: 1;
}

#restaurants-box {
    height: 40vh;
}

#direction-buttons {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#direction-buttons p {
    margin: auto 10px;
}

#back {
    visibility: hidden;
}

#directions {
    visibility: hidden;
}

.restaurant {
    margin: 10px 0;
}

input, select {
    background-color: rgb(229, 226, 226);
    border: none;
    border-radius: 10px;
    padding: 1px;
}

button {
    background-color: lightgrey;
    border: none;
    padding: 3px;
    margin-top: 5px;
}

@media all and (max-width: 800px) {
    main {
        flex-direction: column;
    }

    .panel {
        width: 90%;
        height: auto;
    }

    #middle, #right {
        width: 100%;
        height: auto;
    }
}