
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#forecast {
    background-color: rgb(25, 124, 211);
}

#date-filter {
    visibility: hidden;
}

#cuisine {
    visibility: hidden;
}

#map-box {
    position: relative;
}

#buttons {
    position: absolute;
    top: 320px;
    left: 350px;
    z-index: 10;
    background-color: lightgrey;
    padding: 1% 1% 2% 1%;
    border-radius: 10px;
}

#buttons p {
    cursor: pointer;
    align-items: center;
}

#minus {
    margin-bottom: 10%;
}

#change-form {
    visibility: hidden;
}

#back {
    display: none;
}

#directions {
    visibility: hidden;
}